{
  "root": true,
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "globals": {
    "NodeJS": "readonly",
    "Express": "readonly"
  },
  "rules": {
    "no-unused-vars": "off",
    "no-async-promise-executor": "off",
    "no-case-declarations": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  },
  "overrides": [
    {
      "files": [
        "tests/**/*.spec.ts",
        "tests/setup-*.ts",
        "tests/teardown-*.ts"
      ],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "env": {
        "jest": true
      },
      "rules": {
        "jest/no-disabled-tests": "off",
        "jest/no-focused-tests": "off",
        "jest/no-identical-title": "off",
        "jest/prefer-to-have-length": "off",
        "jest/valid-expect": "off"
      }
    }
  ]
}
